In [1]:
import pandas as pd

In [28]:
data = [15,16,17]
index = ['a', 'b', 'c']

s = pd.Series(data=data, index=index)
s

a    15
b    16
c    17
dtype: int64

In [29]:
s['a']

15

In [30]:
s[:2]

a    15
b    16
dtype: int64

In [31]:
s[:'b']

a    15
b    16
dtype: int64

In [32]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     16
c     17
dtype: int64

In [33]:
s1.replace(to_replace=100, value=101, inplace=False)

a    101
b     16
c     17
dtype: int64

In [34]:
s1

a    100
b     16
c     17
dtype: int64

In [35]:
s1.replace(to_replace=100, value=101, inplace=True)
s1

a    101
b     16
c     17
dtype: int64

In [36]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [37]:
s1.index = ['a', 'b', 'd']

In [38]:
s1

a    101
b     16
d     17
dtype: int64

In [39]:
s1.rename(index={'a':'A'})

A    101
b     16
d     17
dtype: int64

## 增操作

In [40]:
s2 = pd.Series([100,500], index=['g', 'h'])

In [41]:
s2

g    100
h    500
dtype: int64

In [42]:
s1 = s1.append(s2)
s1

a    101
b     16
d     17
g    100
h    500
dtype: int64

In [43]:
s1['j'] = 600
s1

a    101
b     16
d     17
g    100
h    500
j    600
dtype: int64

In [44]:
# 不保留索引
s1.append(s2, ignore_index=True)

0    101
1     16
2     17
3    100
4    500
5    600
6    100
7    500
dtype: int64

## 删操作

In [45]:
del s1['a']
s1

b     16
d     17
g    100
h    500
j    600
dtype: int64

In [47]:
s1.drop(['b', 'd'])

g    100
h    500
j    600
dtype: int64

## DataFrame结构的增删改查

In [49]:
data = [[1,2,3],[4,5,6]]
index = ['a','b']
columns = ['A', 'B', 'C']

df = pd.DataFrame(data=data, index=index, columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [50]:
### 查操作是类似的

### 改操作

In [51]:
df.loc['a']['A']

1

In [52]:
# 改数据
df.loc['a']['A'] = 150
df

     A  B  C
a  150  2  3
b    4  5  6

In [53]:
# 改索引
df.index = ['f', 'g']
df

     A  B  C
f  150  2  3
g    4  5  6

### 增操作

In [54]:
df.loc['c'] = [7, 8, 9]
df

     A  B  C
f  150  2  3
g    4  5  6
c    7  8  9

In [56]:
data = [[1,2,3],[4,5,6]]
index = ['j','k']
columns = ['A', 'B', 'C']

df2 = pd.DataFrame(data=data, index=index, columns=columns)
df2

   A  B  C
j  1  2  3
k  4  5  6

In [57]:
df3 = pd.concat([df,df2])
df3

     A  B  C
f  150  2  3
g    4  5  6
c    7  8  9
j    1  2  3
k    4  5  6

In [58]:
# 增加一列
df2['Guo'] = [100, 110]
df2

   A  B  C  Guo
j  1  2  3  100
k  4  5  6  110

In [60]:
# 增加多列
df4 = pd.DataFrame([[14,15],[16,17]], index=['j','k'], columns=['D','E'])
df4

    D   E
j  14  15
k  16  17

In [66]:
df5 = pd.concat([df2,df4],axis=1)
df5

   A  B  C  Guo   D   E
j  1  2  3  100  14  15
k  4  5  6  110  16  17

### 删操作

In [67]:
# 删一行
df5.drop(index=['j'], inplace=True)
df5

   A  B  C  Guo   D   E
k  4  5  6  110  16  17

In [68]:
# 删一列
df5.drop(columns=['Guo'], inplace=True)
df5

   A  B  C   D   E
k  4  5  6  16  17

In [69]:
# 删多列
df5.drop(columns=['A', 'B'], inplace=True)
df5

   C   D   E
k  6  16  17