In [1]:
import pandas as pd

In [2]:
# 数据显示多少行
pd.get_option('display.max_rows')

60

In [3]:
pd.set_option('display.max_rows', 6)

In [4]:
pd.Series(range(0,100))

0      0
1      1
2      2
      ..
97    97
98    98
99    99
Length: 100, dtype: int64

In [5]:
# 打印列数
pd.get_option('display.max_columns')

20

In [6]:
pd.DataFrame(columns= range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

[0 rows x 30 columns]

In [7]:
pd.set_option('display.max_columns',30)

In [8]:
pd.DataFrame(columns= range(0,30))

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
Index: []

In [10]:
# 表格中字符串最大长度
pd.get_option('display.max_colwidth')

50

In [12]:
pd.Series(data=['s'*60])

0    ssssssssssssssssssssssssssssssssssssssssssssss...
dtype: object

In [13]:
pd.set_option('display.max_colwidth',90)

In [14]:
pd.Series(data=['s'*60])

0    ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
dtype: object

In [15]:
# 数字精度
pd.get_option('display.precision')

6

In [16]:
pd.Series(data=[1.123456789])

0    1.123457
dtype: float64

In [17]:
pd.set_option('display.precision',9)
pd.Series(data=[1.123456789])

0    1.123456789
dtype: float64